.Kcontainer {
  font-family: "OpenSans";
  display: flex;
  flex-direction: row;
  align-content: start;
  /* justify-content: space-around; */
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.column {
  height: 800px;
  width: 200px;
  margin: 10px;
  border-radius: 0px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: start;
  flex-wrap: wrap;
  font-weight: bolder;
  color: white;
}

.column-title {
  background-color: #fff;
  text-align: center;
  color: #000;
  border-bottom: 1px solid black;
  width: 200px;
  height: 28px;
}

.plan-column {
  background-color: #ef6095;
}

.design-column {
  background-color: #ea7558;
}

.develop-column {
  background-color: #f6d24d;
}

.test-column {
  background-color: #b5d247;
}

.deploy-column {
  background-color: #71cad3;
}

.movable-item {
  border-radius: 0px;
  background-color: #fff3f3;
  height: 135px;
  width: 180px;
  margin-top: 16px;
  font-weight: initial;
  color: initial;
}

.item-title {
  margin: 5px 5px 5px;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
  
}

.item-description {
  margin: auto 5px auto;
  inline-size: 160px;
  overflow-wrap: break-word;
  hyphens: auto;
  height: 90px;
  overflow-y: hidden;
  font-size: 14px;
}

.form-group {
  margin: 10px;
}
.form-group-button {
  margin: 20px 10px 10px 10px;
}