.Kcontainer {
  font-family: "Inconsolata";
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.navbar {
  padding: 10px;
  font-size: 28px;
  color: white;
  background-color: black;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: right;
}

.column {
  height: 610px;
  width: 200px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  font-weight: bolder;
  color: white;
}

.column-title {
  background-color: #fff;
  text-align: center;
  color: #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid black;
  width: 200px;
  height: 28px;
}

.plan-column {
  background-color: #ef6095;
}

.design-column {
  background-color: #ea7558;
}

.develop-column {
  background-color: #f6d24d;
}

.test-column {
  background-color: #b5d247;
}

.deploy-column {
  background-color: #71cad3;
}

.movable-item {
  border-radius: 5px;
  background-color: #fff3f3;
  height: 125px;
  width: 180px;
  margin-top: 16px;
  font-weight: initial;
  color: initial;
  transform: translate(0, 0);
}

.item-title {
  margin: 5px 5px 5px;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}

.item-description {
  margin: 0px 10px 0px;
  width: 160px;
  overflow-wrap: break-word;
  hyphens: auto;
  height: 90px;
  overflow-y: hidden;
  font-size: 14px;
}

.form-group {
  margin: 10px;
}

.form-group-button {
  margin: 20px 10px 10px 10px;
}

.modal {
  font-family: "Inconsolata";
}